doctype html
html
  head
    title Welcome to mini twitter
    script(type='text/javascript', src='../javascript/jquery.js')
    script(type='text/javascript', src='../javascript/index.js')
  body
    h1 Welcome to mini twitter
    | 	Name : 
    input(type='email', name='lname')
    br
    | 	Password: 
    input(type='password', name='lpassword')
    br
    button#login log in
    hr
    | 	Name : 
    input(type='text', name='sname')
    br
    | 	Email : 
    input(type='email', name='email')
    br
    | 	DOB : 
    input(type='date', name='dob')
    br
    | 	Password : 
    input(type='password', name='spassword')
    br
    button#signup signup
