body{
	font-family: sans-serif;
	background: #f1f1f1;
}

#title {
	font-weight: normal;
	font-size: 40px;
	text-align: center;
}

input, button{
	font-size: 20px;
}

.loginSession, .signupSession {
	padding: 2%;
	border-style: solid;
	border-width: 1px;
	background: lightgrey;
	font-size: 20px;	
	margin-left: 28%;
	margin-top: 2%;
	width: 40%;
	height: 40%;
}
