#top{
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.7);
	z-index:5;
	width:100%;
	height:100%;
}

.message {
	margin: 10% auto;
	width: 40%;
	height: 50%;
	z-index:10;
	border:1px solid #7941cb;
	border-radius:5px;
	background-color: silver;
	overflow-y: scroll;
}

#close{
	float: right;
}

.hide{
	visibility: hidden;
}

img{
	width: 20px;
	height: 20px;
}

img:hover{
	width: 21px;
	height: 21px;
	cursor: pointer;
}


.like{
	margin-left: 75%;
	margin-top: 15%;
	display: inline-flex;

}

.name{
	font-size: 16px;
}

.name-logout{
	width: 10%;
	float: right;
}

#likes{
}

#likers{
	float: right;
	margin-left: 9px;
}

.log-out{

}

.log-out a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.searching{
}

#followerList {
	font-family: serif;
	margin: 2%;
}

#likers{
	float: left;
	width: 20%;
	background-color: #efefef;
	margin: 1px;
}

td,tr{
    padding: 5px;
	table-layout: auto;
    height: auto;
}

#allPost{
	height: 100%;
}

.wrapper{
	width: 60%;
	text-align: center;
	margin-left: 20%;
	padding: 0.5%;
	background: #efefef;
}

.content {
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 20px;
	height: 14%;
	width: 45%;
	margin-left: 3%;
	overflow: scroll;
}

#date{
	color: grey;
}

.post {
	padding: 20px 10px 0 10px;
	border: 1px solid black;
	border-radius: 2px;
	margin: 2% auto;
	width: 88.4%;
	height: 20%;
	overflow: scroll;
}

#name{
	color: #0e385f;
	float: left;
}

.area{
	height: 100px;
	width: 90%;
}

.search-button{
	width: 81.7%;
}

.button-margin{
	margin-left: 79.5%;
}
